.container{
    max-width: 804px;
    margin: auto;
    padding: 100px  40px 250px 40px;
}
.heading {
    font-weight: bold;
}
.title{
    text-align: center;
    color: var(--button-blue-color);
    font-size: 48px;
}
.subtitle{
    font-size: 18px;
}
.form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.link{
    font-weight: bold;
    color: var(--button-blue-color);
}
.submitButton {
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 8px;
    height: 60px;
    color: var(--white-color);
    background-color: var(--button-blue-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 50px 0;
    /* paragraph spacing снизу */
    display: flex;
    align-items: center;
    /* vertical alignment: middle */
    justify-content: center;
    /* horizontal alignment: center */
  }
  @media (max-width: 560px) {
    .container{
        padding-top: 50px;
    }
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 12px;
    }
  }
