@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: black;
}
p {
    margin: 0;
    padding: 0;
}
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-caps-lock-indicator,
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal-password {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: -9999px;
}
main{
    min-height: 100vh;
}