.hero {
  background: -webkit-linear-gradient(90deg, #4a3aff, #6d3aff);
  background: linear-gradient(90deg, #4a3aff, #6d3aff);
  padding: 148px 0;
}

.container {
  font-weight: 700;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.button {
  width: 392px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 60px;
  color: var(--white-color);
  background-color: var(--button-dark-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  margin: 100px 0 0 0; /* paragraph spacing снизу */
  display: flex;
  align-items: center; /* vertical alignment: middle */
  justify-content: center; /* horizontal alignment: center */
}

.button:hover > .image {
  transform: translateX(5px);
}

.image {
  margin-left: 20px;
  transition: all .1s ease-in-out;
}

.heading h1 {
  margin: 0 0 40px 0;
  font-size: 48px;
}

.heading p {
  font-size: 32px;
}

.specializations{
  padding: 80px 0 140px 0;
}
.specializations h2{
  color: var(--headings-black-color);
  font-size: 32px;
}
.specializationsList {
  display: grid;
  grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item9 item10 item10";
  gap: 20px; 
  padding: 20px; 
}

.specializationsItem:nth-child(1) { grid-area: item1; }
.specializationsItem:nth-child(2) { grid-area: item2; }
.specializationsItem:nth-child(3) { grid-area: item3; }
.specializationsItem:nth-child(4) { grid-area: item4; }
.specializationsItem:nth-child(5) { grid-area: item5; }
.specializationsItem:nth-child(6) { grid-area: item6; }
.specializationsItem:nth-child(7) { grid-area: item7; }
.specializationsItem:nth-child(8) { grid-area: item8; }
.specializationsItem:nth-child(9) { grid-area: item9; }
.specializationsItem:nth-child(10) { grid-area: item10; }

.specializationsItem {
  display: flex;
  background-color: var(--button-blue-color);
  gap: 10px;
  color: white; 
  padding: 20px;
  text-align: start;
  align-items: center;
  border-radius: 10px; 
  transition: background-color 0.3s; 
}

.specializationsItem:hover {
  background-color: var(--button-blue-hover-color)
}

.specializationsItem img {
  height: 24px;
}

.specializationsItem p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 920px) {
  .specializationsList {

    grid-template-areas: 
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10";
  }
  .specializations{
    padding: 80px 20px 140px 20px;
  }
  .specializationsItem{
    height: 40px;
  }
  .specializationsItem p {
    margin: 0;
    font-size: 20px;
  }
  .specializationsItem img {
    height: 24px;
  }
}