.registration {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.leftWrapper {
  width: 50%;
  background-image: url(../assets/registration_background.png);
  background-size: cover;
  background-repeat: none;
  height: 100%;
  min-height: 100vh;
}

.rightWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  transition: all .3s ease-in-out;
  padding: 40px;
}

.rightWrapper h2 {
  color: var(--button-blue-color);
  font-weight: bold;
  font-size: 48px;
}

.сhangeForm {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.changeFormItem {
  padding: 10px 40px;
  font-size: 22px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.changeFormItem.active {
  color: var(--button-blue-color);
  background-color: #E5EAFC;
}

.changeFormItem:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.changeFormItem:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.registrationForm {
  max-width: 495px;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}


.submitButton {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  height: 60px;
  color: var(--white-color);
  background-color: var(--button-blue-color);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 50px 0;
  /* paragraph spacing снизу */
  display: flex;
  align-items: center;
  /* vertical alignment: middle */
  justify-content: center;
  /* horizontal alignment: center */
}

.fileButton {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  height: 60px;
  color: var(--white-color);
  background-color: var(--button-dark-color);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  /* paragraph spacing снизфу */
  display: flex;
  align-items: center;
  /* vertical alignment: middle */
  justify-content: center;
}

.submitButton,
.link {
  transition: all .2s ease-in-out;
}

.submitButton:hover {
  background-color: var(--button-blue-hover-color);
}

.link:hover {
  color: var(--button-blue-hover-color);
}

.link {
  height: 28px;
  color: var(--button-blue-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  /* vertical alignment: middle */
  justify-content: right;
  /* horizontal alignment: center */
}

.loginLinkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}